.main {
  width: 100%;
  min-height: 100%;
  display: flex;
}

.main-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px 60px;
  justify-content: flex-start;

  .main-results-wrapper {
    width: 100%;
  }
}

.footer {
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
