.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;

    .home-navigation {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;

        .home-navigation-link {
            &:hover {
                color: #000088;
            }
        }
    }

    .home-wrapper {
        width: 80vw;
        height: 60vh;
        overflow: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .home-item {
        width: 320px;
        height: 320px;
        border: 1px solid #646cff;
        border-radius: 5px;
        padding: 10px;

        &.highlighted {
            background-color: #ffeb3b;
            transition: background-color 0.5s ease;
        }
    }

    .no-data {
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #000066;
    }
}
