.component-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid #535bf2;
    border-radius: 5px;
    width: 50vw;
    position: relative;
    max-height: 70vh;
    min-height: 400px;

    .form-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        overflow: auto;
        padding: 20px;
    }

    label {
        text-align: left;

        &:hover {
            color: #1434A4;
        }

        input, select {
            border: 1px solid #535bf2;
            margin-left: 10px;
            color: #191970;

            &:hover, &:focus {
                border: 1px solid #1434A4;
            }
        }

        .password-strength {
            margin-left: 10px;
            color: #646cff;
            font-size: 13px;
        }

        .error-wrapper {
            height: 20px;
        }
    }

    input[type='submit'] {
        width: 100%;
        background: #646cff;
        border: 1px solid #535bf2;
        cursor: pointer;
        border-radius: 2px;
        height: 36px;
        position: sticky;
        bottom: 0;

        &:disabled {
            background: #c0c0c0;
            color: #646cff;
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            background: #000088;
            color: white;
        }
    }
}

.component-form-link {
    width: 100%;
    text-align: left;
    align-self: flex-start;
}

.component-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    height: 100vh;
}

